/* Normalizes margin,padding */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    font-family: "Microsoft YaHei", "Helvetica Neue", "Droid Sans", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", "Simsun", "sans-self";
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
}

@font-face {
    font-family: ASNormal;
    src: url(./AS-normal.otf); /*字体为文件路径 */
}

.iconfont {
    font-size: inherit !important;
    margin-right: 5px;
}

/* Removes list-style from lists */

ol,
ul {
    list-style: none
}


/* Normalizes font-size and font-weight to normal */

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-size: normal;
    font-weight: normal
}

.el-drawer__body {
    overflow: auto !important;
}

/* Removes list-style from lists */

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}


/* Removes border from fieldset and img */

fieldset,
img {
    border: 0
}

button {
    border: none;
    background: none;
}

textarea {
    resize: none;
}
/* Left-aligns text in caption and th */

caption,
th {
    text-align: left
}

i,
em {
    font-style: normal;
}

p {
    margin: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}
a{
    color: #0070C1;
}

/* Removes quotation marks from q */

q:before,
q:after {
    content: ''
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fr_i {
    float: right !important;
}

a:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

[contenteditable="true"],
button:focus,
input:focus {
    outline: none;
    -moz-outline: none;
}

input::-ms-clear {
    display: none;
}

html {
    background: #fff;
}

body {
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none;
}

.w-100 {
    width: 100% !important;
}
.w-97 {
    width: 97% !important;
}
.w-96 {
    width: 96% !important;
}
.el-menu {
    border: 0;
}

.checkbox,
.radio {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

*:hover {
    transition: all 0.3s;
}

.underline {
    text-decoration: underline !important;
}

.bold {
    font-weight: bold;
}

.default {
    cursor: default !important;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px
}

.fs24 {
    font-size: 24px;
}

.fs25 {
    font-size: 25px;
}

.fs30 {
    font-size: 30px !important;
}

.fs36 {
    font-size: 36px;
}

.fs48 {
    font-size: 48px;
}

.fs50 {
    font-size: 50px;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.fontnarmal {
    font-weight: normal;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

.inlineblock {
    display: inline-block;
}

.overflow {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.nowrap {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.break {
    word-break: break-all;
    word-wrap: break-word;
}

.relative {
    position: relative;
}

.m0 {
    margin: 0 !important;
}

.m5 {
    margin: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px
}

.mr35 {
    margin-right: 35px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px
}

.ml0 {
    margin-left: 0;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml60 {
    margin-left: 60px;
}

.ml100 {
    margin-left: 100px;
}

.ml20 {
    margin-left: 20px
}

.ml140 {
    margin-left: 140px;
}

.mt0 {
    margin-top: 0 !important;
}

.mt2 {
    margin-top: 2px;
}

.mt5 {
    margin-top: 5px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt13 {
    margin-top: 13px;
}

.mt15 {
    margin-top: 15px;
}

.mt18 {
    margin-top: 18px
}

.mt20 {
    margin-top: 20px
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt80 {
    margin-top: 80px;
}

.mt200 {
    margin-top: 200px;
}

.mtb10 {
    margin: 10px 0;
}

.mb30 {
    margin-bottom: 30px;
}

.p0 {
    padding: 0;
}

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px
}

.pt100 {
    padding-top: 100px;
}

.pl5 {
    padding-left: 5px;
}

.pl24 {
    padding-left: 24px;
}

.pl30 {
    padding-left: 30px;
}

.pl60 {
    padding-left: 60px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px
}

.pr30 {
    padding-right: 30px;
}

.plr10 {
    padding: 0 10px;
}

.plr20 {
    padding: 0 20px
}

.plr15 {
    padding: 0 15px;
}

.ptb10 {
    padding: 10px 0;
}

.ptb20 {
    padding: 20px 0;
}

.pl10 {
    padding-left: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl20 {
    padding-left: 20px
}

.pb20 {
    padding-bottom: 20px
}

.pb0 {
    padding-bottom: 0;
}


.border0 {
    border: none;
}

.bottom0 {
    border-bottom: none !important;
}

.left0 {
    border-left: none !important;
}

.top0 {
    border-top: none;
}

.right0 {
    border-right: none !important;
}

.lh10 {
    line-height: 10px;
}

.lh18 {
    line-height: 18px
}

.lh20 {
    line-height: 20px
}

.lh25 {
    line-height: 25px;
}

.lh28 {
    line-height: 28px;
}

.lh30 {
    line-height: 30px;
}

.lh34 {
    line-height: 34px;
}

.lh40 {
    line-height: 40px;
}

.lh50 {
    line-height: 50px;
}

.lh60 {
    line-height: 60px;
}

.h30 {
    height: 30px !important;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.h60 {
    height: 60px;
}

.h70 {
    height: 70px;
}

.h80 {
    height: 80px;
}

.h90 {
    height: 90px;
}

.h100 {
    height: 100px;
}

.minh30 {
    min-height: 30px;
}

.radius0 {
    border-radius: 0;
}

.radius3 {
    border-radius: 3px;
}

.radius4 {
    border-radius: 4px;
}

.radius5 {
    border-radius: 5px;
}

.radius20 {
    border-radius: 20px
}

.radius50 {
    border-radius: 50%;
}

.radTL3 {
    border-radius: 3px 0 0 3px;
}

.radRB3 {
    border-radius: 0 3px 3px 0;
}

.indent24 {
    text-indent: 24px;
}

.clearfix {
    clear: both;
}


/* blockquote 样式 */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

.color-white {
    color: white;
}

/* code 样式 */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

pre code {
    display: block;

}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-between {
    justify-content: space-between;
}

.flex-center-between {
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-around {
    justify-content: space-around;
}

.flex-center-around {
    justify-content: space-around;
    align-items: center;
}

.flex-center-end {
    justify-content: flex-end;
    align-items: center;
}

.flex-center-start {
    justify-content: flex-start;
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.text-color-666 {
    color: #666;
}

.text-color-999 {
    color: #999;
}

.text-color-333 {
    color: #333;
}

.text-success {
    color: #86BC25;
}

.text-danger {
    color: #FF5252;
}

.text-00FFF0 {
    color: #00FFF0;
}
.color-blue{
    color: #0070C1;
}

.title-l {
    float: left;
}

.bt-r {
    float: right;
}

.md10 {
    margin-bottom: 10px;
}

.md20 {
    margin-bottom: 20px;
}

.title-fl {
    float: left;
}

.bt-content {
    float: right;
}


.login-form .el-input__inner {
    border: 1px solid #1489CC;
    background: none !important;
    color: #1994ED;
}

.login-form input::-webkit-input-placeholder {
    color: #1994ED !important;
}

.login-form input::-moz-input-placeholder {
    color: #1994ED !important;
}

.login-form input::-ms-input-placeholder {
    color: #1994ED !important;
}

.col-name,.tell {
    color: red;
}
.__view {
    width: 0 !important;
}

input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #ededed !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
    background-color:transparent;
    background-image: none;
     transition: background-color 50000s ease-in-out 0s; /*背景色透明  生效时长  过渡效果  启用时延迟的时间*/
}
input {
     background-color:transparent;
}
input:-webkit-autofill {
         -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;/*/关于解决输入框背景颜色*/
         -webkit-text-fill-color: #1994ED!important;/*/关于接输入框文字颜色*/
}
.el-card__header{
    padding: 10px 20px;
}
.md0 .el-form-item--small.el-form-item{
    margin-bottom: 0!important;
}
.vxe-header--column .vxe-resizable{
    display: none;
}
.el-tooltip__popper{
    max-width: 400px!important;
}
.el-input__count{
    background: none!important;
    bottom: -25px!important;
    right: 0!important;
}
.el-select-dropdown{
    max-width: 1200px;
}
.blue-background{
    background:#0070C1!important;
  }
  .handler-move-item{
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      height: 40px;
        font-size: 20px;
      cursor: move;
      
  }